/* TODO - Check the correct breakpoints and stydy what would be a good max width for each */
.body {
	margin: 0 auto;
	min-height: 100svh;
}

/* Tablet and Smaller Desktop */
@media (width >= 700px) {
	.body {
		max-width: 800px;
	}
}

/* Large Desktop */
@media (width >= 1120px) {
	.body {
		max-width: 900px;
	}
}
